.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6633, #f53d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar__list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header-navbar__list .header-navbar__item--link {
    margin: 0;
}

.header-navbar__item {
    margin: 0 8px;
    position: relative;
}

.header-navbar__item-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header-navbar__item-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header-navbar__item-name {
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 600;
}

.header-navbar__item-user:hover .header-navbar__item-user-menu {
    display: block;
}

.header-navbar__item-user-menu {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    width: 148px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 0;
    list-style: none;
    z-index: 2;
    box-shadow: 0 1px 2px #ccc;
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header-navbar__item-user-menu::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
    width: 1px;
    top: -20px;
    right: 0;
    margin-right: 26px;
}

.header-navbar__item-user-menu::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 20px;
    right: 0;
    top: -13px;
    background-color: red;
    background-color: transparent;
}

.header-navbar__item-user-item-separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header-navbar__item-user-item a {
    padding: 8px 16px;
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.header-navbar__item-user-item a:hover {
    background-color: #fafafa;
}

.header-navbar__item-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-navbar__item-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header-navbar__item--has-qr:hover .header-navbar__qr {
    display: block;
}

.header-navbar__item--has-Notifycation:hover .header__notify {
    display: block;
}

.header-navbar__item,
.header-navbar__item--link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header-navbar__item,
.header-navbar__item--link,
.header-navbar__icon {
    display: flex;
    align-items: center;
}

.header-navbar__item:hover,
.header-navbar__item--link:hover,
.header-navbar__icon:hover {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.header-navbar__item--strong {
    font-weight: 700;
}

.header-navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fa735d;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    /* trừ 50% tức là -50% của chiều cao chính nó (tức 8x) */
}

.header-navbar__icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header-navbar__icon--link:nth-child(2) {
    margin-left: 3px;
}

.header-navbar__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header-navbar__item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header Qr code */
.header-navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 135%;
    /*Vì khoản cách xa với li quá nên sẽ bị hở*/
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header-navbar__qr::before {
    /*Tạo 1 phần tử giả để che chỗ hở giữa li và thẻ a*/
    content: "";
    position: absolute;
    /*Vì là phần tử giả nên phải khai báo lại*/
    width: 100%;
    height: 20px;
    left: 0;
    top: -13px;
}

.header__qr-img {
    width: 100%;
    /*Nằm gọn  trong cha nó*/
}

.header-navbar__apps {
    display: flex;
    justify-content: space-between;
}

.header__download-img {
    height: 16px;
}

.header-navbar__apps--link:nth-child(1) {
    margin-left: 11px;
}

.header-navbar__apps--link:nth-child(2) {
    margin-right: 11px;
}

/* Header Notifycation */
.header__notify {
    position: absolute;
    top: 135%;
    right: 0;
    width: 404px;
    margin-right: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    /*(100% - 20px): vị trí tâm*/
    animation: headerNotifyGrowth ease-in 0.25s;
    z-index: 2;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
        /*Phóng to - thu nhỏ*/
    }

    to {
        opacity: 1;
        transform: scale(1);
        /*Phóng to - thu nhỏ*/
    }
}

.header__notify::after {
    /* Vá chỗ hỡ */
    content: "";
    position: absolute;
    /*Vì là phần tử giả nên phải khai báo lại*/
    width: 100%;
    height: 20px;
    left: 0;
    top: -13px;
}

.header__notify::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
    width: 1px;
    top: -20px;
    right: 0;
    margin-right: 26px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;

}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    background-color: #fff0ee;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 10px;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #888;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer:hover {
    background-color: #f7f7f7;
}

.header__notify-btn {
    text-decoration: none;
    margin: auto;
    padding: 8px 90px;
    color: #999;
    font-weight: 700;
}

/* Authen form */
.auth-form {
    width: 500px;
    overflow: hidden;
}

.auth-form__container {
    margin: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin: 80px 0 20px 0;
    display: flex;
    justify-content: flex-end;
}

.btn--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 12px 42px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon {
    display: flex;
    align-items: center;
    padding: 10px 32px;
}

.btn--with-icon i {
    font-size: 1.8rem;
    margin-left: -22px;
}

.auth-form__socials--title {
    margin: 0 0 0 32px;
}

.auth-form__socials--facebook {
    background-color: #1873eb;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__separate::after {
    content: "";
    border: 1px solid #EAEAEA;
    margin: 0 10px;
    padding: 2px 0;
}

.auth-form__help-link--foget {
    color: var(--primary-color);
}

/* Header with search */
.header__with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    background-color: transparent;
}

.header_logo-link {
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    height: 48px;
}

.header__search {
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0 16px;
    border-radius: 2px;

}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__cart {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 12px;
}

.header__cart-notice {
    position: absolute;
    top: -10px;
    right: -3px;
    font-size: 1.3rem;
    padding: 0px 7px;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__search-select {
    border-left: 2px solid #e8e8e8;
    padding: 4px 0 4px 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #959393;
    margin: 0 16px 0 8px;

}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 4px;
    width: 60px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 135px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style: none;
}

.header__search-option-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline;
}

/*Header Search history */
.header__search-history {
    position: absolute;
    left: 0;
    width: calc(100% - 16px);
    top: calc(100% + 2px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(215, 212, 212, 0.8);
    overflow: hidden;
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #d3d3d3;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}


.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;
    /*Làm thẻ a có diện tích bằng cả thẻ cha chứa nó*/
}

/* Header cart, no-cart */

.header__cart-wrap {
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
}

.header__cart-heading {
    text-align: left;
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
    margin-left: 12px;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: rgba(239, 238, 238, 0.6);
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 2px solid #E8E8E8;
}

.header__cart-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    margin: 0 8px 0 8px;
}

.header__cart-item-qnt {
    font-size: 1rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #666;
}

.header__cart-item-remove {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f97a57;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 2px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list-no-cart {
    padding: 24px 0;
    
}

.header__cart-list-no-cart .header__cart-no-cart-img{
    display: block;
    margin: 0 auto;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

/* App Container */
.app__container {
    background-color: #fafafa;
}

.app__content {
    padding-top: 24px;
}

.category {
    background-color: var(--white-color);
}

.category-heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 12px;
}

.category-item {

}

.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item--active .category-item-link::before {
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item--ative {
    
}

.category-item-link {
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    right: 0;
    transition: right linear 0.1s;
}

.category-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__lable {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: var(--boxshadow);
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page {
    margin-left: auto;
}


.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: var(--boxshadow);
}

.home-filter__page-control-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-control-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-control-btn--disabled .home-filter__page-control-icon {
    color: #ccc;
}

.home-filter__page-control-btn:first-child {
    border-right: 2px solid #eee;
}

.home-filter__page-control-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product-item {

}

.home-product-item__img {
    padding-top: 100%;
}

.home-product-item__name {

}

.home-product-item__price {

}

.home-product-item__price-old {

}

.home-product-item__price-current {

}

.home-product-item__action {

}

.home-product-item__like {

}

.home-product-item__rating {

}

.home-product-item__origin {

}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {

}

.home-product-item__sale-off {

}

.home-product-item__sale-off-percent {

}

.home-product-item__sale-off-label {

}
