.header {
    height: 120px;
    background-image: linear-gradient(0,#ff6633,#f53d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar__list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-top: 4px;
}

.header-navbar__item {
    margin: 0 8px;
    position: relative;
}

.header-navbar__item--has-qr:hover .header-navbar__qr{
    display: block;
}

.header-navbar__item,
.header-navbar__item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header-navbar__item,
.header-navbar__item--link,
.header-navbar__icon {
    display: inline-flex;
    align-items: center;
}

.header-navbar__item:hover,
.header-navbar__item--link:hover,
.header-navbar__icon:hover {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
} 

.header-navbar__item--strong {
    font-weight: 700;
}

.header-navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #fa735d;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); /* trừ 50% tức là -50% của chiều cao chính nó (tức 8x) */
}

.header-navbar__icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header-navbar__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header-navbar__item--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header Qr code */
.header-navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 135%; /*Vì khoản cách xa với li quá nên sẽ bị hở*/
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header-navbar__qr::before { /*Tạo 1 phần tử giả để che chỗ hở giữa li và thẻ a*/
    content: "";
    position: absolute; /*Vì là phần tử giả nên phải khai báo lại*/
    width: 100%;
    height: 20px;
    left: 0;
    top: -13px;
}

.header__qr-img {
    width: 100%; /*Nằm gọn  trong cha nó*/
}

.header-navbar__apps {
    display: flex;
    justify-content: space-between;
}

.header__download-img {
    height: 16px;
}

.header-navbar__apps--link:nth-child(1){
    margin-left: 11px;
}

.header-navbar__apps--link:nth-child(2){
    margin-right: 11px;
}