*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
    flex-direction: column;
}

body > div {
    margin: auto;
   
}

/* ======= Buttons ======== */
.btn {
    display: inline-block;
    border: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 20px;
}

.btn--success {
    background-color: #71be34;
}
.btn--danger {
    background-color: #ffb702;
}
.btn--warn {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size-s {
    padding: 6px 24px;
}

.btn--size-l {
    padding: 22px 96px;
}

