body {
    background-color: var(--bacground-color);
}

/* topbar */
.container-fluid.background__header {
    background-image: url(/assets/img/firstpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -2;
    margin-top: 0;
}

.background__header::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar {
    border-bottom: 2px solid var(--white-color);
    position:static;
    top: 0px;
    right: 0;
    left: 0;
    border-radius: 2px;
}

.navbar__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 12px;
}

.navbar__item {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white-color);
    z-index: 3;
}

.navbar__item-selection-translate {
    position: relative;
    cursor: pointer;
}

.navbar__item-selection-translate:hover .navbar__item-translate {
    display: block;
}

.navbar__item-translate {
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    box-shadow: 0 1px 3px #ccc;
}

.navbar__item-translate-list {
    padding-left: 0;
    list-style: none;
 
}

.navbar__item-translate-item {
    padding: 6px 14px;
}

.navbar__item-translate-item:hover {
    background-color: #e2e3e4;
}

.navbar__item-translate-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    width: 100%;
}

.navbar__item-translate-link:hover {
    color: var(--navbar-hover);
    text-decoration: none;
}


.navbar__item-title {
    position: relative;
    cursor: pointer;
}

.navbar__item-title::after {
    content: "";
    position: absolute;
    top: 24px;
    left: -10px;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

.navbar__item-title:hover 
.navbar__item-download{
    display: block;
}

.navbar__item-download {
    position: absolute;
    top: calc(100% + 5px);
    right: 4px;
    padding: 4px 4px 10px 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #ccc;
    display: none;
}

.navbar__item-download-qr {
    width: 168px;
}

.navbar__item-download-link {
    text-decoration: none;
    color: transparent !important;
}

.navbar__item-download-app {
    display: inline-flex;
    justify-content: space-between;
    height: 16px;
}

.navbar__item-download-app-apple {
    margin-left: 10px;
}

.navbar__item-download-app-chplay {
    margin-right: 10px;
}


.navbar-item-link {
    color: var(--white-color);
    padding-bottom: 16px;
}

.navbar-item-link:hover {
    border-bottom: 2px solid var(--navbar-hover);
    text-decoration: none;
    color: var(--navbar-hover);
}

/* logo travel */
.navbar-travel {
    width: 100%;
    height: 100%;
    margin-left: -15px;
    display: flex;
    position: relative;
    text-align: center;
    top: -60px;
    z-index: 2;
}

.navbar-travel__logo-wrap {
    margin: auto;
    background-color: transparent;
    z-index: 2;
}

.navbar-travel__logo {
    /* background: url(/assets/img/firstpage.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    font-size: 20.5rem;
    font-weight: 400;
    font-family: font_dancing;
    color: var(--white-color);
    
}

/* navbar search */
.navbar-calendar {
    display: flex;
    justify-content: center;
    position: relative;
    top: -15%;
    z-index: 2;
}

.navbar__calendar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar__calendar-item {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color);
    padding: 22px 38.5px;
    background-color: #f4c693;
}

.navbar__calendar-item:nth-child(1){
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navbar__calendar-item:nth-child(6){
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__calendar-item:hover {
    color: var(--navbar-hover);
    cursor: pointer;
}

/* Location */
.location {
    background-color: #eceff3;
    padding-top: 70px;
    padding-bottom: 5px;
    text-align: center;
}

.location__header {
    margin-bottom: 50px;
}

.location__heading {
    font-size: 3.5rem;
}

.location__info {
    margin: 0 auto;
}

.location__list {
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.location__item {
    margin-top: 4px;
    width: 260px;
    height: 350px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
}

.location__item::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.location__item:hover.location__item::after{
    display: none;
}

.location__item-img {
    width: 100%;
    height: 100%;
}

.location__item-text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 8px;
    color: var(--white-color);
    z-index: 2;
    text-align: left;
}

.location__item-city {
    margin-left: 2px;
}

.location__item-name {
    margin: 0 0 8px 0;
    font-size: 2.7rem;
}

/* Introduce */
.introduce {
    padding-top: 70px;
    background-color: #eceff3;
    font-family: font_dancing;
}

.introduce__background {
  background-image: url(../img/introduce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  z-index: 1;
  margin-top: 0;
  position: relative;
  display: flex;
}

.introduce__background::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.introduce__background-content {
    padding: 60px 130px;
    margin: auto;
    z-index: 2;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: var(--white-color);
}

.introduce__background-content p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 16px 0 16px 0;
}

.introduce__background-content-heading {
    font-size: 3.5rem;
    font-weight: 700;
}


.introduce__background-logo {
    font-size: 2.5rem;
    position: relative;
    z-index: 2;
    color: var(--navbar-hover);
}

.introduce__background-content-line {
    position: absolute;
    max-width: 40%;
    top: 18%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* Review */
.reviewer {
    margin: 0;
    padding: 88px 12px;
    background-color: #e2e3e4;
}
.reviewer-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.reviewer-content_avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.reviewer-content-info {
    margin-left: 8px;
}

.reviewer-content-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.reviewer-content-icon {
    padding: 4px 0;
}

.reviewer-content-icon-star {
    color: goldenrod;
}

.reviewer-content_icon-star-disabled.reviewer-content-icon-star {
    color: #ccc;
}

.reviewer-content-comment {
    font-size: 1.1rem;
}

/* footer */
.footer {
    padding-top: 12px;
    background-color: var(--white-color) ;
}

.footer__heading {
    font-size: 1.4rem;
    font-weight: 600;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer__item {
    font-size: 1.2rem;
}

.footer__ending {
    padding: 12px;
    background-color: #c22f44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__ending-text {
    font-size: 1rem;
    color: var(--white-color);
}

/* Login modal */
.modal__body {
    background-color: var(--white-color);
    margin: auto;
    padding: 16px;
}

.modal__auth-container {
    
}

.modal__auth-heading {
    display: flex;
}

.modal__auth-heading-signin {

}

.modal__auth-form {

}

.modal__auth-form-label {

}

.modal__auth-form-input {

}
