/* PC */
@media (min-width: 1024px) {
    .mobile-navbar-calendar {
        display: none;
    }

    .mobile__footer-content {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1180px) {
    .navbar__item-download {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        right: -10px;
        padding: 4px 4px 10px 4px;
        background-color: var(--white-color);
        border-radius: 2px;
        box-shadow: 0 1px 3px #ccc;
        display: none;
    }

    /* calendar search */
    .navbar-calendar {
        display: none;
    }

    .mobile-navbar-calendar {
        display: block;
        display: flex;
        justify-content: center;
        position: relative;
        top: -20%;
        z-index: 2;
        margin: auto;
        padding: 0;
    }

    .navbar__calendar-item {
        border-radius: 2px;
        display: flex;
        margin-right: 0;
        border-radius: 50px !important;
    }

    .navbar__calendar-label {
        min-width: 100px;
    }

    .navbar__calendar-item-wrap-input {
        flex: 1;
    }

    .navbar__calendar-item-input {
        width: 100%;
    }

    /* location */
    .location {
        padding-top: 160px;
    }

    .location__item {
        margin-left: 1px;
    }

    /* introduce */
    .introduce__background {
        height: 40vh;
    }

    .introduce__background-content {
        padding: 60px 0;
    }

    /* footer */
    .footer__content-logo {
        display: none;
    }

    .mobile__footer-content {
        display: block;
    }

    .footer-content {
        width: 340px;
        padding: 0;
    }

    /* ----------------offers page------------------ */
    .offers__available-picture {
        width: 100%;
    }

    .offers__available-content {
        margin: 8px 0 0 0;
    }

    /* ----------------About page --------------- */
    .intro__content {
        padding-bottom: 80px;
    }

    .chart-layout__item {
        width: 100px;
    }

    /* Sell off */
    .sell-off__content {
        left: 60px;
    }

    /* archive */
    .archive__item {
        width: 250px;
    }

    /* ----------------Booking page --------------- */
    .booking-report {
        margin: 0;
    }

    .booking-report__input {
        margin-top: 20px;
    }

    .booking-report__select {
        margin-top: 26px;
    }

    .booking-report__textarea {
        margin-top: 16px;
    }

    .booking-report__btn {
        margin-top: 20px;
    }
}

/* Mobile */

@media (max-width: 740px) {

    /* Navbar */
    .navbar {
        display: none;
    }

    .mobile__navbar {
        display: block;
    }

    .navbar__item-selection-translate--mobile {
        position: relative;
        left: 40px;
    }

    .mobile__navbar-icon {
        position: relative;
        cursor: pointer;
    }

    .mobile__navbar-icon:hover .mobile__navbar-list {
        display: block;
    }

    .mobile__navbar-list {
        width: 90px;
        position: absolute;
        top: 20px;
        right: 0;
        padding-left: 0;
        list-style: none;
        border-radius: 2px;
        background-color: var(--white-color);
        display: none;
        font-size: 1.4rem;
    }

    .mobile__navbar-item {
        padding: 8px 4px 8px 8px;
        font-family: 'Roboto', sans-serif;
        border-bottom: 2px solid transparent;
    }

    .mobile__navbar-item:hover {
        border-color: var(--navbar-hover);
    }

    .mobile__navbar-item-link {
        color: var(--text-color);
    }

    .mobile__navbar-item-link:hover {
        text-decoration: none;
        color: var(--navbar-hover);
    }

    .navbar__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 12px;
    }

    /* Name company */
    .navbar-travel {
        top: -5%;
    }

    .navbar-travel__logo {
        font-size: 16rem;
    }

    /*calendar search  */
    .navbar-calendar {
        display: none;
    }

    .mobile-navbar-calendar {
        position: relative;
        top: -20%;
        z-index: 2;
        margin: 0;
        padding: 0;
    }

    .navbar__calendar-item {
        border-radius: 2px;
        display: flex;
        margin-right: 0;
        border-radius: 50px !important;
    }

    .navbar__calendar-label {
        min-width: 80px;
    }

    .navbar__calendar-item-wrap-input {
        flex: 1;
    }

    .navbar__calendar-item-input {
        width: 100%;
    }

    /* introduce */
    .introduce__background-content {
        width: 100%;
        padding: 0;
    }

    .location {
        padding-top: 300px;
    }

    .location__item {
        margin-left: 1px;
    }

    /* Footer-info */
    .footer-wrap {
        margin: 0 10px;
    }

    .footer__dowload-app-wrap-item {
        display: flex;
        flex-direction: column;
    }

    /* footer */
    .footer-wrap {
        justify-content: start;
    }

    .footer__content-logo {
        display: none;
    }

    .mobile__footer-content {
        display: block;
    }

    .footer__download-link {
        margin-bottom: 12px;
    }

    /* ----------------offers page-------------- */
    .offers__available-picture {
        width: 100%;
    }

    .offers__available {
        margin-right: 8px;
        margin-left: 8px;
    }

    .offers__available-content {
        margin: 8px 0;
        padding: 0 0 70px 0;
    }

    .offers__available {
        margin-bottom: 328px;
    }

    /* ----------------About page --------------- */
    .intro {
        padding: 0;
    }

    .intro__img {
        height: 300px;
    }

    .intro__content-heading h1 {
        font-size: 2.4rem;
    }

    .intro__content-text {
        margin: 0;
    }

    .intro__content {
        padding-bottom: 30px;
    }

    .chart-layout__item {
        width: 50px;
        font-size: 0.7rem;
    }

    .chart-layout__item-year {
        font-size: 1.2rem;
        bottom: -22px;
    }

    /* Sell off */
    .sell-off {
        font-size: 1.6rem;
    }

    .sell-off__img {
        margin: 0 10px;
    }

    .sell-off__content {
        left: 12px;
    }

    .sell-off__name {
        font-size: 2.8rem;
    }

    .sell-off__price {
        font-size: 2.2rem;
    }

    .sell-off__btn {
        font-size: 1.4rem;
        padding: 12px;
        margin-top: 12px;
    }

    /* archive */
    .archive__item {
        width: 150px;
    }

    /* ----------------Booking page --------------- */
    .booking-report {
        margin: 0;
    }

    .booking-report__input {
        margin-top: 20px;
    }

    .booking-report__select {
        margin-top: 26px;
    }

    .booking-report__textarea {
        margin-top: 16px;
    }

    .booking-report__btn {
        margin-top: 20px;
    }

    .booking {

    }
}